* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;

    /* font-family: 'gilroy'; */
}

#main {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

/* Navigation */
#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'monument';
    font-size: 40px;
    word-spacing: -1;
}

#nav h2 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
}

#nav h2:nth-last-child(2) {
    /* background-color: red; */
    width: 29%;
}

#nav h2:nth-last-child(1) {
    /* background-color: red; */
    width: 10%;
}

/* Video */
#center {
    height: 90%;
    width: 100%;
    padding: 2.3vw;
    /* background-color: red; */
}

#content {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    /* display: flexbox;
    align-items: center;
    justify-content: center; */
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 52%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0px;
    padding: 3vw;
    color: #fff;
    /* background-color: black; */
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: 'monument';
    font-size: 3.6vw;
    /* font-weight: 100; */
}

#over1 h2 {
    font-family: 'monument';
    font-size: 1vw;
    padding: 2vw 1.9vw;
    /* background-color: rgb(180, 166, 166); */
    border-radius: 50%;
    /* font-weight: 100; */
    border: 1px solid #fff;
    /* border-bottom: 5px solid #fff; */

}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4 {
    /* font-family: 'monument'; */
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw
}

/* Making Model Portrait Scroll */
#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    padding-left: 1vw;
    animation-name: slide;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transition:all 2s linear; */
}

#container img {
    /* display: none; */
    height: 95%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100%));
    }
}

#alphabet {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: coral; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5 {
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    /* background-color: blueviolet; */
    margin-right: 2vw;
}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* letter-spacing: 4px; */
    /* background-color: blueviolet; */
    padding: 0.5vw 0.7vw;
    border: 2px solid #00000000;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 2px solid #000;

}

#page2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: baseline; */
    /* background-color: red; */
    padding: 3vw;
    gap: 2vw;
}

#page2 #left {
    width: 55%;
    height: 100%;
    /* background-color: blue; */
    background: url(https://plus.unsplash.com/premium_photo-1664475942720-3238476a78ae?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2 #right {
    width: 45%;
    height: 100%;
    /* background-color: rgb(240, 236, 231); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#page2 #right #top {
    width: 100%;
    height: 80%;
    /* background-color: rgb(0, 0, 0); */
    background: url(https://images.unsplash.com/photo-1563993297290-609c9406efcd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2 #right #bottom {
    padding-top: 3vh;
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 #right #bottom #l {
    text-align: left;
    width: 50%;
    height: 100%;
    font-weight: 700;
    font-size: 1.5vw;

}

#page2 #right #bottom #r {
    text-align: left;
    font-size: 1.1vw;
    font-weight: 400;
    width: 50%;
    height: 100%;

}

#page3_heading {
    font-weight: 600;
    font-family: 'monument';
    padding: 0vw 3vw;
}

#page3 {
    width: 100%;
    height: 100%;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#page3 #left {
    /* background-color: #000; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page3 #left #left-top {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 #left #left-top img {
    width: 80%;
    height: 90%;
}

#page3 #left #left-bottom {
    width: 100%;
    height: 20%;
    /* background-color: rgb(216, 216, 233); */
}

#page3 #left #left-bottom h3 {
    font-size: 1.3vw;
    font-weight: 600px;
    line-height: 1.7vw;
}

#page3 #right {
    background-color: #ed2727;
    width: 55%;
    height: 100%;
    background: url(https://images.ctfassets.net/2stk9dntpgwb/7i19vPuAqIiLdeWhg8e1O9/5ac01eaa351637260153ca3b0553f5d2/1IMG_4681.jpeg?fm=jpg&fl=progressive);
    background-size: cover;
    background-position: center;
}

#page4 {
    width: 100%;
    height: 100%;
    padding: 2vw 3vw 3vw 3vw;
    /* background-color: #2b0707; */
    border-radius: 0% !important;
}
#page4 #img{
    width: 100%;
    height: 100%;
    background-color: #2b0707;
    border-radius: 0% !important;
    background: url(https://assets.vogue.com/photos/6054eb9c294f854267643048/16:9/w_1920%2Cc_limit/08_Nadine%2520Ijewere_Orange%2520Dress%2C%25202018%2520adS%2520Joy%2520as%2520an%2520Act%2520of%2520Resistance%2520fuer%2520I-D%2520Magazine_c_Nadine%2520Ijewere.jpg);
}
#page5{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2vw 3vw;

}
#page5>h1{
    text-align: center;
    font-size: 3vw;
    font-family: 'monument';
    font-weight: 600;
    margin-bottom: 5vw;
    text-transform: uppercase;
}
#page5 .elem{
    position: relative;
    height: 17vh;
    width: 100%;
    /* background-color: red; */
    padding: 0vw 2vw;
    border-top: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
#page5 .elem:nth-last-child(1)
{
    border-bottom: 2px solid black;

}
.elem img{
    position:absolute;
    opacity: 0;
    left: 13%;
    width: 8.9vw;
    height: 8vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 40% 40%;
    transition: all ease-in-out 0.7s;
    /* transition-delay: 0.5s; */
}
.elem:hover img{
    left: 22%;
    opacity: 1;
}
.elem h3{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}
.elem .elem-part2{
width: 50%;
}
.elem-part2 h1{
font-size: 2.5vw;
font-weight:600 ;
}
.elem-part2 h5{
font-size: 1vw;
font-weight: 600px;
text-transform: uppercase;
}

/* page6 */
#page6{
    width: 100%;
    height: 100%;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page6 #left{
    height: 100%;
    width: 45%;
}
#page6 #left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page6 #right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#page6 #right #top{
    height: 47%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
#page6 #right #top h2{
    width: 100%;
    font-size: 3vw;
    font-family: 'monument';
    font-weight: 600;
    /* margin-bottom: 5vw; */
    text-transform: uppercase; 
}
#page6 #right #top h3{
    width: 100%;
    font-size: 2vw;
    /* font-family: 'monument'; */
    font-weight: 500;
    /* margin-bottom: 5vw; */
    /* text-transform: uppercase;  */
}
#page6 #right #top p{
    width: 85%;
    font-size: 1.1vw;
    /* font-family: 'monument'; */
    font-weight: 500;
    justify-content: left;
    /* margin-bottom: 5vw; */
    /* text-transform: uppercase;  */
}
#page6 #right #bottom{
    height: 47%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#page6 #right #bottom img:nth-child(1){
    height: 100%;
    width: 55%;
    object-fit: cover;
    object-position: center;
}
#page6 #right #bottom img:nth-child(2){
    height: 100%;
    width: 45%;
    object-fit: cover;
    object-position: center;
}
/* page7 */
#page7 {
    width: 100%;
    height: 100%;
    padding: 2vw 3vw 3vw 3vw;
    /* background-color: #2b0707; */
    border-radius: 0% !important;
}
#page7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* page8 */
#page8 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: baseline; */
    /* background-color: red; */
    padding: 3vw;
    gap: 2vw;
}

#page8 #left {
    width: 55%;
    height: 100%;
    /* background-color: blue; */
    background: url(https://images.squarespace-cdn.com/content/v1/63b56317edea3207472a8b32/1676557718507-H9TZ3EBD5SXP8NY0JWW2/image-asset.jpeg?format=1000w);
    background-size: cover;
    background-position: center;
}

#page8 #right {
    width: 45%;
    height: 100%;
    /* background-color: rgb(240, 236, 231); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#page8 #right #top {
    width: 100%;
    height: 80%;
    /* background-color: rgb(0, 0, 0); */
    background: url(https://i.pinimg.com/564x/52/f0/f0/52f0f03d37b7bbc8dd8c33a3ccdbdf99.jpg);
    background-size: cover;
    background-position: 50% 40%;
}

#page8 #right #bottom {
    padding-top: 3vh;
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page8 #right #bottom #l {
    text-align: left;
    width: 50%;
    height: 100%;
    font-weight: 700;
    font-size: 1.3vw;

}

#page8 #right #bottom #r {
    text-align: left;
    font-size: 1.1vw;
    font-weight: 400;
    width: 50%;
    height: 100%;
}
/* marque */
#marque{
    width: 100%;
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding:0.5vw 0vw ;
    overflow-x: hidden;
    overflow-y: hidden;

}
#marque h1{
    display: inline-block;
    /* background-color: #2b0707; */
    text-transform: uppercase;
    margin-right: 16px;
    font-size: 3vw;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: transparent;
    animation-name: marque-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes marque-animation{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#finalPage{
    width: 100%;
    height: 100%;
    display: flex;
    padding:4vw 3vw;
    gap: 2vw;
}
#finalPage #left{
    width: 20%;
    height: 100%;
    /* background-color: #2b0707; */
}
#finalPage #left h2{
    width: 100%;
    font-size: 3vw;
    font-family: 'monument';
    font-weight: 600;
    /* margin-bottom: 5vw; */
    text-transform: uppercase; 
}
#finalPage #mid{
    width: 40%;
    height: 100;
    /* background-color: #ed2727; */
}
#finalPage #mid img{
   height: 85%;
   width: 100%;
   object-fit: cover;
   object-position: top;
}
#finalPage #mid p{
    margin-top: 2vw;
    text-align: left;
    font-weight: 700;
    font-size: 1.3vw;
}
#finalPage #right{
    /* background-color: antiquewhite; */
    width: 40%;
    height: 100;
}
#finalPage #right img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    object-position: top;
 }
 #finalPage #right p{
    margin-top: 2vw;
     text-align: left;
     font-weight: 700;
     font-size: 1.3vw;
 }
 /* footer */
 /* footer{
    height: 30%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 footer #left{
    height: 100%;
    width: 40%;
    border-right: 2px solid black;
 }
 footer #mid{
    height: 100%;
    width: 20%;
 }
 footer #right{
    height: 100%;
    width: 40%;
    border-left: 2px solid black;
 }
 footer #right #top{
    height: 30%;
    width: 100%;
    border-bottom: 2px solid black;
 }
 footer #right #bottom{
    height: 60%;
    width: 100%;
 }
  */
 footer {
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

footer h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    text-align: center;
    font-family: 'monument';
    font-size: 40px;
    word-spacing: -1;
    padding-top: 1vw;
}

footer>h2 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    text-align: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    padding-top: 1vw;

}

footer #right {

    /* background-color: red; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 1vw;

    /* border-right: 2px solid black; */
    
}
footer #right h2 {
    text-align: center;
    /* background-color: red; */
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    height: 23%;
}
footer #right #bottom {
    /* background-color: rgb(0, 0, 0); */
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    height: 77%;

}


#freeSpace{
    height:10% ;
    width: 100%;
 }